<html>
<head>
  </head>
  <body>
    <div class="container">
        <h1 style="margin: 20px; color: cornflowerblue">DHM IT - Docker/Angular Test</h1>
<table class="table table-striped" >
  <tr>
    <td><b style="color: darkblue">ID</b></td>
    <td><b style="color: darkblue">Nom</b></td>
  </tr>
  <tr  *ngFor="let user of persons">
    <td>{{ user.id }}</td>
    <td>{{ user.name }}</td>
  </tr>
</table>
</div>
<!-- <ul *ngFor="let user of persons">
{{ user.id }}
{{ user.name }}
  </ul> -->
  <br><br><br>
  <p style="margin-left: 80%">Haroun GAZZAH <br>haroun.gazzah@gmail.com</p>

</body>
  </html>
